.blogs{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
}

.blogs>.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    background-color: black;
    width: 75vw;
    align-self: center;
    border-radius: 5px;
    color: white;
    gap: 12px;
}

.blogs>.box>img{
    width: 100px;
    transition: all var(--time);

}

.blogs>.box>h3{
    color: var(--fontColor);
    transition: all var(--time);

}
.blogs>.box>p{
    width: 200px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all var(--time);
}

.blogs>.box>.info{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.blogs>.box>.info>h1{
    text-transform: capitalize;
    font-size: 16px;
}

.blogs>.pop>img{
    width: 800px !important;
}

.blogs>.pop>h3{
    font-size: 50px !important;
}
.blogs>.pop>p{
    width: 600px !important;
    white-space: normal !important;

}
.blogs>.box>.info>.icon{
    height: 30px;
}

.blogs>.box>.info>.user{
    filter: invert(1);
    color: black;
}

.blogs>.box>.info>.admin{
    filter: invert(67%) sepia(45%) saturate(584%) hue-rotate(358deg) brightness(95%) contrast(85%);
}

.blogs>.box.pop{
    flex-direction: column !important;
}

